body {background-image: linear-gradient(purple, yellow);}
h1 {text-shadow: 2px 2px pink;}
h2 {text-shadow: 2px 2px yellow;}
h3 {text-shadow: 2px 2px gray;}
h4 {text-shadow: 2px 2px white;}
div {font-family: "Courier New", Times, serif;}
div {color: blue;}
